.container {
  width: 96%;
  margin: 0 2%;
}

button {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 100px;
  padding: 10px 0;
  color: #fff;
  background: #434a5a;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background: #000;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorMsg {
  font-size: 26px;
  line-height: 1;
  color: #434a5a;
  margin: 18px 0 0 0;
  width: 100%;
}

@media (max-width: 768px) {
  .home .container:nth-of-type(2) {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .errorMsg {
    font-size: 19px;
  }
}
